# The book's title. Will be used everywhere!
title: 

# The book's language.
language: en

# Your book copyright info.
# Here's some examples:
#
#   Copyright <%= @year %> by <%= @name %>.
#   Copyright <%= @year %> by <%= @name %>. This work is licensed under MIT License.
#   This work is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.
#   This work is licensed under a Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
#   This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License.
#
copyright: 

# Who's publishing this book.
publisher: 

# When this book was published.
published_at: 

# Some book description.
subject: 

# Some keywords that identify this book (comma separated.
keywords: 

# Some unique identification. Works great with your domain
# like `http://yourbook.example.com`.
uid: 

# Your book identification like ISBN or ISSN.
identifier:
  id: "http://yourbook.example.com"
  type: "URL" # can be ISBN, ISSN or URL

# This book authors.
authors:
  - 
  