<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= language %>">
  <head>
    <link rel="stylesheet" type="text/css" href="styles/epub.css"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title></title>
  </head>
  <body>
    <div class="chapter">
      <%= content %>
    </div>
  </body>
</html>
