<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="<%= authors.join(', ') %>" />
    <meta name="subject" content="<%= subject %>" />
    <meta name="keywords" content="<%= keywords %>" />
    <meta name="date" content="<%= published_at %>" />
    <link rel="stylesheet" type="text/css" href="assets/styles/html.css"/>
    <title><%= title %></title>
  </head>
  <body>
    <div class="frontcover">
      <h1><%= title %></h1>
      <p class="subject"><%= subject %></p>
      <p class="authors"><%= authors.to_sentence %></p>
    </div>

    <div class="table-of-contents">
      <h2>Content</h2>
      <div id="toc">
        <%= toc %>
      </div>
    </div>

    <div id="chapters">
      <%= content %>
    </div>

    <div class="imprint">
    </div>
  </body>
</html>
